<html>

    <head>
        <title>This is a website</title>
        <link rel="stylesheet" href="{{url_for('static', filename='websitestyle.css')}}"
    </head>

    <body>
        <nav>
            <div>
                <a href="/home", "hello_world">Home</a>
            </div>
            <div>
                <a href="/blog", "blog">Posts</a>
                <a href="/createacc", "createacc">Create Account</a>
                <a href="/createposts", "createposts">Create Posts</a>
                {% if session['uid'] %}
                    <form action='/logout' method="POST">
                        <button>Logout</button>
                    </form>
                {% else %}
                    <a href="/login", "login">Login</a>
                {% endif %}
            </div>
        </nav>
        <main>
            <section>
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </section>
        </main>
    </body>
</html>


https://www.youtube.com/shorts/wGYT-9XTr9o

https://www.youtube.com/watch?v=DE8V_lHf6Bc